<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/admin/profile/profile.css" />
    <link rel="shortcut icon" href="/assets/logo.png" type="image/x-icon">
    <title>Perfil | Stronghold</title>
    <!-- Iconos -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="https://kit.fontawesome.com/460146b1b8.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="main">
        <div class="head-main">
            <img src="" alt="" class="img__profile">
            <div class="text__head-main">
                <h1 class="name"></h1>
                <h3 class="email"></h3>
                <p class="rol"></p>
            </div>
        </div>
        <div class="content-main">
            <div class="con__main">
                <div class="right-con__main">
                    <i class="fa-regular fa-address-card"></i>
                    <div class="text-right-con__main">
                        <h3>Informacion Personal</h3>
                        <p>Detalles completos sobre tu documento y otros aspectos relacionados</p>
                    </div>
                </div>
                <div class="left-con__main">
                    <i class="fa-solid fa-angle-right"></i>
                </div>
            </div>
            <div class="con__main">
                <div class="right-con__main">
                    <i class="fa-solid fa-user"></i>
                    <div class="text-right-con__main">
                        <h3>Datos de tu Cuenta</h3>
                        <p>Información detallada que representa los datos asociados a tu cuenta en Stronghold, incluyendo configuraciones y preferencias relevantes.</p>
                    </div>
                </div>
                <div class="left-con__main">
                    <i class="fa-solid fa-angle-right"></i>
                </div>
            </div>
            <div class="con__main">
                <div class="right-con__main">
                    <i class="fa-solid fa-lock"></i>
                    <div class="text-right-con__main">
                        <h3>Seguridad</h3>
                        <p>Establece y ajusta las configuraciones de seguridad para proteger tu cuenta de manera efectiva</p>
                    </div>
                </div>
                <div class="left-con__main">
                    <i class="fa-solid fa-angle-right"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="modal">
        <div class="modal-content">
            <div class="modal-body">
                <span class="icon"><i class="fas fa-exclamation-triangle"></i></span>
                <div class="right-items">
                    <h1>¡Lo sentimos!</h1>
                    <p>No has iniciado sesión de manera correcta</p>
                    <button id="okBtn">Iniciar Sesión</button>
                </div>
            </div>
        </div>
    </div>

    <script src="/controller/admin/profile/profile.js" type="module"></script>
</body>

</html>