<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesion</title>
    <link rel="stylesheet" href="/Views/login/styl.css">
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');
    </style>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');
    </style>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
    </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
    </style>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://kit.fontawesome.com/460146b1b8.js" crossorigin="anonymous"></script>
        <link rel="shortcut icon" href="/Stronghold/Assets/Logo.svg" type="image/x-icon">
</head>
<body>
       
    <div class="box">

        <h1 class="text__sta-se">Iniciar sesion</h1>
        <div class="bac__email">
            <input type="email" id="email" placeholder="Correo del usuario" class="email" autocomplete="off">
            <i class="fa-solid fa-user fa-bounce"></i>
        </div>
        <div class="bac__pasw">
            <input type="password" id="contra" placeholder="Contraseña" class="contra" autocomplete="off">
            <i class="fa-solid fa-lock fa-shake"></i>
        </div>
        <a href="/Stronghold/Views/password/index.html" class="forgot">¿Olvidaste tu contraseña?</a>
        <button id="login" class="btn__login">Iniciar sesion</button>


        <p class="box__r">------ Redes sociales ------</p>

        <div class="social">
            <div class="social__icon">
                <i class="fa-brands fa-facebook-f"></i>
            </div>
            <div class="insta">
                <div class="social__icon">
                    <i class="fa-brands fa-instagram"></i>
                </div>
            </div>
            <div class="twi">
                <div class="social__icon">
                    <i class="fa-brands fa-twitter"></i>
                </div>
            </div>
            <div class="what">
                <div class="social__icon">
                    <i class="fa-brands fa-whatsapp"></i>
                </div>
            </div>
        </div>

        <img src="/Stronghold/Assets/forma.png" alt="" class="forma">
        <img src="/Stronghold/Assets/img__login.svg" alt="" class="img__login">
        <img src="/Stronghold/Assets/img__login2.svg" alt="" class="img__login2">

        <a href="/Stronghold/index.html" class="a__arrow">
            <i class="fa-solid fa-circle-arrow-left" id="arrow"></i>
        </a>

    </div>

</div>

<div class="modal">
    <div class="modal-content">
        <span class="closeIcon"><i class="fas fa-times"></i></span>
        <div class="modal-body">
        <span class="icon"><i class="fas fa-exclamation-triangle"></i></span>
        <div class="right-items">
            <h1 class="h1__modal">Oooooops !</h1>
            <p class="text_error">Tu contraseña o correo no son correctos, vuelve a intentarlo</p>
            <button id="okBtn">Intentalo otra vez</button>
        </div>
        </div>
    </div>
</div>

<div class="modal2">
    <div class="modal-content2">
        <span class="closeIcon2"><i class="fas fa-times"></i></span>
        <div class="modal-body2">
        <span class="icon2"><i class="fa-solid fa-circle-info"></i></span>
        <div class="right-items2">
            <h1 class="h1__modal2">Lo sentimos</h1>
            <p class="text_error2">Antes de iniciar sesion debes llenar todos los datos</p>
            <button id="okBtn2">Intentalo otra vez</button>
        </div>
        </div>
    </div>
</div>

<div class="modal3">
    <div class="modal-content3">
        <span class="closeIcon3"><i class="fas fa-times"></i></span>
        <div class="modal-body3">
        <span class="icon3"><i class="fa-solid fa-circle-info"></i></span>
        <div class="right-items3">
            <h1 class="h1__modal3">Lo sentimos</h1>
            <p class="text_error3">No hemos verificado tu email, revisa tu correo electronico</p>
            <button id="okBtn3">Intentalo otra vez</button>
        </div>
        </div>
    </div>
</div>


    
    <script type="module" src="/Stronghold/controller/login/js.js"></script>

</body>
</html>