<!DOCTYPE html>
<html lang="en">
    <!DOCTYPE html>
    <html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Archivo historico</title>
        <link rel="stylesheet" href="/Views/historico/style.css">
        <script src="https://kit.fontawesome.com/460146b1b8.js" crossorigin="anonymous"></script>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
        </style>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
        </style>
        </style>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');
        </style>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
        </style>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
        </style>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
        </style>
        <link rel="shortcut icon" href="/Assets/Logo.svg" type="image/x-icon">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>
<body>
    <nav>
        <ul>
            <li>
                <a href="#" class="logo">
                    <img src="/Assets/Logoblanco.png" alt="">
                    <span class="nav-item" id="name-stronghold">Stronghold</span>
                </a>
            </li>
            <li class="register_ususario"><a href="/Views/inside/index.html">
                <i class="fa-solid fa-house"></i>
                <span class="nav-item">Inicio</span>
            </a></li>
            <li class="register_ususario"><a href="/Views/Register user/index.html">
                <i class="fa-solid fa-keyboard"></i>
                <span class="nav-item">Registrar ususario</span>
            </a></li>
            <li><a href="/Views/tabla/index.html">
                <i class="fa-solid fa-table"></i>
                <span class="nav-item">Tabla de retencion</span>
            </a></li>
            <li><a href="/Views/gestion/index.html">
                <i class="fa-solid fa-server"></i>
                <span class="nav-item">Archivo de gestion</span>
            </a></li>
            <li><a href="/Views/central/index.html">
                <i class="fa-solid fa-globe"></i>
                <span class="nav-item">Archivo central</span>
            </a></li>
            <li><a href="/Views/historico/index.html" class="historico">
                <i class="fa-solid fa-landmark"></i>
                <span class="nav-item">Archivo historico</span>
            </a></li>
            <li class="profile"><a href="/Views/profile/index.html">
                <i class="fas fa-user"></i>
                <span class="nav-item">Perfil</span>
            </a></li>
            <li><a href="#" id="btn__out">
                <i class="fas fa-sign-out-alt"></i>
                <span class="nav-item">Salir</span>
            </a></li>
        </ul>
    </nav>





    <div class="modal2">
        <div class="modal-content2">
            <span class="closeIcon2"><i class="fas fa-times"></i></span>
            <div class="modal-body2">
                <span class="icon2"><i class="fa-solid fa-circle-info"></i></span>
                <div class="right-items2">
                    <h1 class="h1__modal2">Seguro?</h1>
                    <p class="text_error2">Estas a punto de salir de Stronghold quieres hacerlo?</p>
                    <button id="okBtn2">No, no quiero salir</button>
                    <button id="okBtn3">Si, si quiero salir</button>
                </div>
            </div>
        </div>
    </div>


    <div class="all" id="all">

    </div>



    <div class="modal5">
        <div class="modal-content5">
            <div class="modal-body5">
                <span class="icon5"><i class="fas fa-exclamation-triangle"></i></span>
                <div class="right-items5">
                    <h1 class="h1__modal5">Ooooooooooooooooops !!!</h1>
                    <p class="text_error5">No has iniciado sesion, te redirigiremos al login para que puedas ingresar de
                        manera correcta</p>
                    <form action="/Views/login/index.html"><button id="okBtn5">Iniciar sesion</button></form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal6">
        <div class="modal-content6">
            <span class="closeIcon6"><i class="fas fa-times"></i></span>
            <div class="modal-body6">
                <span class="icon6"><i class="fa-solid fa-circle-info"></i></span>
                <div class="right-items6">
                    <h1 class="text_error6">Subir archivo</h1>
                    <input type="file" id="up__ar" class="upload__box" accept=".pdf" autocomplete="off">
                    <input type="text" class="name__up-ar" placeholder="Nombre del archivo" id="name__up-ar"
                        autocomplete="off">
                        <select name="Asunto" id="asunto">
                            <option value=0>Selcciona un asunto</option>
                            <option value="Asunto 1">Asunto 1</option>
                            <option value="Asunto 2">Asunto 2</option>
                            <option value="Asunto 3">Asunto 3</option>
                            <option value="Asunto 4">Asunto 4</option>
                            <option value="Asunto 5">Asunto 5</option>
                        </select>
                        <select name="Cargo" id="cargo">
                            <option value=0>Selecciona un cargo</option>
                            <option value="Gerencia">Gerencia</option>
                            <option value="Secretario">Secretario</option>
                        </select>
                        <select name="Tipo de archivo" id="type">
                            <option value=0>Selecciona a donde va ir el archivo</option>
                            <option value="Archivo de gestion">Archivo de gestion</option>
                            <option value="Archivo central">Archivo central</option>
                            <option value="Archivo historico">Archivo historico</option>
                        </select>
                    <button id="okBtn6">Cerrar</button>
                    <button id="okBtn7">Subir archivo</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal10">
        <div class="modal-content10">
            <span class="closeIcon10"><i class="fas fa-times"></i></span>
            <div class="modal-body10">
                <span class="icon10"><i class="fas fa-exclamation-triangle"></i></span>
                <div class="right-items10">
                    <h1 class="h1__modal10">Ooooooooooooooooops !!!</h1>
                    <p class="text_error10">No has llenado el campo del nombre, pon un nombre e intenta nuevamente</p>
                    <button id="okBtn10">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal11">
        <div class="modal-content11">
            <span class="closeIcon11"><i class="fas fa-times"></i></span>
            <div class="modal-body11">
                <span class="icon11"><i class="fas fa-exclamation-triangle"></i></span>
                <div class="right-items11">
                    <h1 class="h1__modal11">Ooooooooooooooooops !!!</h1>
                    <p class="text_error11">No has subido ningun archivo, selecciona el archivo pon un nombre y subelo
                    </p>
                    <button id="okBtn11">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal12">
        <div class="modal-content12">
            <span class="closeIcon12"><i class="fas fa-times"></i></span>
            <div class="modal-body12">
                <span class="icon12"><i class="fas fa-exclamation-triangle"></i></span>
                <div class="right-items12">
                    <h1 class="h1__modal12">Archivo subido !!!</h1>
                    <p class="text_error12">Ya hemos subido tu documento</p>
                    <button id="okBtn12">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="loading">
        <div class="loader"></div>
        <p>Subiendo tu documento espera un poco</p>
    </div>


    <script src="/controller/historico/historica.js" type="module"></script>

</body>
</html>l