<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla de retencion</title>
    <link rel="stylesheet" href="/Views/tabla/st.css">
    <script src="https://kit.fontawesome.com/460146b1b8.js" crossorigin="anonymous"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
    </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
    </style>
    </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');
    </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
    </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
    </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
    </style>
    <link rel="shortcut icon" href="/Assets/Logo.svg" type="image/x-icon">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>


<body>
    <nav>
        <ul>
            <li>
                <a href="#" class="logo">
                    <img src="/Assets/Logoblanco.png" alt="">
                    <span class="nav-item" id="name-stronghold">Stronghold</span>
                </a>
            </li>
            <li class="register_ususario"><a href="/Views/inside/index.html">
                    <i class="fa-solid fa-house"></i>
                    <span class="nav-item">Inicio</span>
                </a></li>
            <li class="register_ususario"><a href="/Views/Register user/index.html">
                    <i class="fa-solid fa-keyboard"></i>
                    <span class="nav-item">Registrar ususario</span>
                </a></li>
            <li><a href="/Views/tabla/index.html" class="rete">
                    <i class="fa-solid fa-table"></i>
                    <span class="nav-item">Tabla de retencion</span>
                </a></li>
            <li><a href="/Views/gestion/index.html">
                <i class="ph-fill ph-hard-drives"></i>
                    <span class="nav-item">Archivo de gestion</span>
                </a></li>
            <li><a href="/Views/central/index.html">
                    <i class="fa-solid fa-globe"></i>
                    <span class="nav-item">Archivo central</span>
                </a></li>
            <li><a href="/Views/historico/index.html">
                    <i class="fa-solid fa-landmark"></i>
                    <span class="nav-item">Archivo historico</span>
                </a></li>
            <li class="profile"><a href="/Views/profile/index.html">
                    <i class="fas fa-user"></i>
                    <span class="nav-item">Perfil</span>
                </a></li>
            <li><a href="#" id="btn__out">
                    <i class="fas fa-sign-out-alt"></i>
                    <span class="nav-item">Salir</span>
                </a></li>
        </ul>
    </nav>

    <table class="default">

        <thead>

            <tr>

                <th class="codi" rowspan="2">Codigo</th>
                <th class="series_ti" rowspan="2">Series y tipos<br>documentales</th>
                <th colspan="3" class="retencion">Retencion</th>
                <th colspan="4">Disposicion final</th>
                <th class="pro" rowspan="2">Procedimientos</th>

            </tr>

            <tr>

                <th class="text_ges">Gestion</th>
                <th class="text_cen">Central</th>
                <th class="text_hi">Historico</th>
                <th class="text_ct">CT</th>
                <th class="text_e">E</th>
                <th class="text_m">M</th>
                <th class="text_s">S</th>


            </tr>

        </thead>

        <tbody id="rete">


        </tbody>

    </table>


    <div class="modal2">
        <div class="modal-content2">
            <span class="closeIcon2"><i class="fas fa-times"></i></span>
            <div class="modal-body2">
                <span class="icon2"><i class="fa-solid fa-circle-info"></i></span>
                <div class="right-items2">
                    <h1 class="h1__modal2">Seguro?</h1>
                    <p class="text_error2">Estas a punto de salir de Stronghold quieres hacerlo?</p>
                    <button id="okBtn2">No, no quiero salir</button>
                    <button id="okBtn3">Si, si quiero salir</button>
                </div>
            </div>
        </div>
    </div>



    <div class="modal5">
        <div class="modal-content5">
            <div class="modal-body5">
                <span class="icon5"><i class="fas fa-exclamation-triangle"></i></span>
                <div class="right-items5">
                    <h1 class="h1__modal5">Ooooooooooooooooops !!!</h1>
                    <p class="text_error5">No has iniciado sesion, te redirigiremos al login para que puedas ingresar de
                        manera correcta</p>
                    <form action="/Views/login/index.html"><button id="okBtn5">Iniciar sesion</button></form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal6">
        <div class="modal-content6">
            <span class="closeIcon6"><i class="fas fa-times"></i></span>
            <div class="modal-body6">
                <span class="icon6"><i class="fa-solid fa-circle-info"></i></span>
                <div class="right-items6">
                    <h1 class="text_error6">Actualizar archivo</h1>
                    <p class="text_error70">Danos el codigo del archivo que quieres actualizar</p>
                    <input type="text" class="name__up-ar" placeholder="Codigo del archivo" id="codigo"
                        autocomplete="off">
                    <button id="okBtn6">Cerrar</button>
                    <button id="okBtn7">Siguiente</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal20">
        <div class="modal-content20">
            <span class="closeIcon20"><i class="fas fa-times"></i></span>
            <div class="modal-body20">
                <span class="icon20"><i class="fa-solid fa-circle-info"></i></span>
                <div class="right-items20">
                    <h1 class="text_error20">Actualizar archivo</h1>
                    <input type="text" class="name__up-ar" placeholder="Codigo del archivo" id="codigo2"
                        autocomplete="off" disabled>
                    <select name="Asunto" id="asunto">
                        <option value=0>Selcciona un asunto</option>
                        <option value="Invitacion">Invitacion</option>
                        <option value="Peticion">Peticion</option>
                        <option value="Queja">Queja</option>
                        <option value="Solicitud">Solicitud</option>
                        <option value="Reclamo">Reclamo</option>
                    </select>
                    <select name="Tipo de archivo" id="type">
                        <option value=0>Selecciona a donde va ir el archivo</option>
                        <option value="Archivo de gestion">Archivo de gestion</option>
                        <option value="Archivo central">Archivo central</option>
                        <option value="Archivo historico">Archivo historico</option>
                    </select>
                    <select name="Disposicion final" id="disposicion">
                        <option value=0>Selecciona la disposicion final</option>
                        <option value="Conservacion total">Conservacion total</option>
                        <option value="Eliminacion">Eliminacion</option>
                        <option value="Microsegmentacion">Microsegmentacion</option>
                        <option value="Seleccion">Seleccion</option>
                    </select>
                    <input type="text" class="name__up-ar" placeholder="Procedimientos" id="procedimientos"
                        autocomplete="off">
                    <button id="okBtn20">Cerrar</button>
                    <button id="okBtn21">Actualizar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal14">
        <div class="modal-content14">
            <span class="closeIcon14"><i class="fas fa-times"></i></span>
            <div class="modal-body14">
                <span class="icon14"><i class="fas fa-exclamation-triangle"></i></span>
                <div class="right-items14">
                    <h1 class="h1__modal14">Agrega la direccion!!!</h1>
                    <p class="text_error14">Dinos hacia donde va dirigido tu archivo</p>
                    <button id="okBtn14">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal30">
        <div class="modal-content30">
            <span class="closeIcon30"><i class="fas fa-times"></i></span>
            <div class="modal-body30">
                <span class="icon30"><i class="fas fa-exclamation-triangle"></i></span>
                <div class="right-items30">
                    <h1 class="h1__modal30">Ooooooooooooops!!!</h1>
                    <p class="text_error30">El codigo digitado no se encuentra registrado, digita uno existente</p>
                    <button id="okBtn30">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal31">
        <div class="modal-content31">
            <span class="closeIcon31"><i class="fas fa-times"></i></span>
            <div class="modal-body31">
                <span class="icon31"><i class="fas fa-exclamation-triangle"></i></span>
                <div class="right-items31">
                    <h1 class="h1__modal31">Ooooooooooooops!!!</h1>
                    <p class="text_error31">No has digitado el codigo, porfavor digita uno</p>
                    <button id="okBtn31">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal32">
        <div class="modal-content32">
            <span class="closeIcon32"><i class="fas fa-times"></i></span>
            <div class="modal-body32">
                <span class="icon32"><i class="fas fa-exclamation-triangle"></i></span>
                <div class="right-items32">
                    <h1 class="h1__modal32">Ooooooooooooops!!!</h1>
                    <p class="text_error32">No has seleccioando el asunto</p>
                    <button id="okBtn32">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal33">
        <div class="modal-content33">
            <span class="closeIcon33"><i class="fas fa-times"></i></span>
            <div class="modal-body33">
                <span class="icon33"><i class="fas fa-exclamation-triangle"></i></span>
                <div class="right-items33">
                    <h1 class="h1__modal33">Cual es el procedimiento??</h1>
                    <p class="text_error33">Dinos cual es el procedimiento que le hiciste a tu documento</p>
                    <button id="okBtn33">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal34">
        <div class="modal-content34">
            <span class="closeIcon34"><i class="fas fa-times"></i></span>
            <div class="modal-body34">
                <span class="icon34"><i class="fas fa-exclamation-triangle"></i></span>
                <div class="right-items34">
                    <h1 class="h1__modal34">Ooooooooooooops !!!</h1>
                    <p class="text_error34">No has seleccionado la disposicion final de tu archivo</p>
                    <button id="okBtn34">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal35">
        <div class="modal-content35">
            <span class="closeIcon35"><i class="fas fa-times"></i></span>
            <div class="modal-body35">
                <span class="icon35"><i class="fas fa-exclamation-triangle"></i></span>
                <div class="right-items35">
                    <h1 class="h1__modal35">Ooooooooooooops !!!</h1>
                    <p class="text_error35">El procedimiento es demasiado largo, trata de resumir un poco</p>
                    <button id="okBtn35">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="loading">
        <div class="loader"></div>
        <p>Actualizando la informacion de tu documento, espera un poco</p>
    </div>

    <script src="/controller/table rete/table.js" type="module"></script>

</body>

</html>