<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrate</title>
    <link rel="stylesheet" href="/Views/Register user/sty.css">
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');
    </style>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');
    </style>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
    </style>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
    </style>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://kit.fontawesome.com/460146b1b8.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="/Assets/Logo.svg" type="image/x-icon">

</head>
<body>


    <a href="/Views/inside/index.html">
        <i class="fa-solid fa-circle-arrow-left" id="back"></i>
    </a>

    
    <div class="box" id="container">
        <h1>Registra un ususario</h1>
        <div class="icon__email">
            <i class="fa-solid fa-user fa-bounce"></i>
            <input type="email" id="ema" placeholder="Correo electronico" class="email" autocomplete="off">
        </div>
        <div class="icon__contra">
            <i class="fa-solid fa-lock fa-shake"></i>
            <input type="password" id="tel" placeholder="Contraseña" class="contra" autocomplete="off">
        </div>

        <div class="icon__confir-contra">
            <i class="fa-solid fa-lock fa-shake"></i>
            <input type="password" id="confir" placeholder="Confirmar contraseña" class="confir__contra" autocomplete="off">
        </div>

        <div class="icon__phone">
            <i class="fa-solid fa-pencil fa-bounce"></i>
            <input type="text" id="phone" placeholder="Nombre" class="phone" autocomplete="off">
        </div>

        <div class="rol">
            <i class="fa-solid fa-masks-theater fa-flip"></i>
            <select name="" id="roll">
                <option value="0">Seleccione un rol</option>
                <option value="Gerente">Gerente</option>
                <option value="Secretario">Secrtario/a</option>
            </select>
        </div>

        <button id="register" class="btn__regis">Registrarse</button>

        <p class="box__rede">------ Redes sociales ------</p>

        <div class="social">
            <div class="social__icon">
                <i class="fa-brands fa-facebook-f"></i>
            </div>
            <div class="insta">
                <div class="social__icon">
                    <i class="fa-brands fa-instagram"></i>
                </div>
            </div>
            <div class="twi">
                <div class="social__icon">
                    <i class="fa-brands fa-twitter"></i>
                </div>
            </div>
            <div class="what">
                <div class="social__icon">
                    <i class="fa-brands fa-whatsapp"></i>
                </div>
            </div>
        </div>

        <img src="/Assets/forma2.png" alt="" class="forma2">
        <img src="/Assets/img__regis.svg" alt="" class="img__regis">
        <img src="/Assets/img__regis2.svg" alt="" class="img__regis2">

    </div>


    <div class="modal">
        <div class="modal-content">
            <span class="closeIcon"><i class="fas fa-times"></i></span>
            <div class="modal-body">
            <span class="icon"><i class="fas fa-exclamation-triangle"></i></span>
            <div class="right-items">
                <h1 class="h1__modal">Oooooops !</h1>
                <p class="text_error">Las contraseñas no coinciden, vuelve a intentarlo</p>
                <button id="okBtn">Intentalo otra vez</button>
            </div>
            </div>
        </div>
    </div>

    <div class="modal2">
        <div class="modal-content2">
            <span class="closeIcon2"><i class="fas fa-times"></i></span>
            <div class="modal-body2">
            <span class="icon2"><i class="fa-solid fa-circle-check"></i></span>
            <div class="right-items2">
                <h1 class="h1__modal2">Felicidades !!</h1>
                <p class="text_error2">Ya estas en la base de datos de Stronghold, ahora puedes iniciar sesion</p>
                <a href="/Views/inside/index.html">
                    <button id="okBtn2">Volver a STRONGHOLD</button>
                </a>
            </div>
            </div>
        </div>
    </div>

    <div class="modal3">
        <div class="modal-content3">
            <span class="closeIcon3"><i class="fas fa-times"></i></span>
            <div class="modal-body3">
            <span class="icon3"><i class="fa-solid fa-circle-info"></i></span>
            <div class="right-items3">
                <h1 class="h1__modal3">Lo sentimos</h1>
                <p class="text_error3">Antes de registrar un ususario debes llenar todos los campos</p>
                <button id="okBtn3">Intentalo otra vez</button>
            </div>
            </div>
        </div>
    </div>

    <div class="modal5">
        <div class="modal-content5">
            <div class="modal-body5">
                <span class="icon5"><i class="fas fa-exclamation-triangle"></i></span>
                <div class="right-items5">
                    <h1 class="h1__modal5">Ooooooooooooooooops !!!</h1>
                    <p class="text_error5">No has iniciado sesion, te redirigiremos al login para que puedas ingresar de
                        manera correcta</p>
                    <form action="/Views/login/index.html"><button id="okBtn5">Iniciar sesion</button></form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal6">
        <div class="modal-content6">
            <span class="closeIcon6"><i class="fas fa-times"></i></span>
            <div class="modal-body6">
            <span class="icon6"><i class="fas fa-exclamation-triangle"></i></span>
            <div class="right-items6">
                <h1 class="h1__modal6">Selecciona el Rol!</h1>
                <p class="text_error6">Dinos cual es el rol del usuario que estas registrando</p>
                <button id="okBtn6">Intentalo otra vez</button>
            </div>
            </div>
        </div>
    </div>

    <script type="module" src="/controller/register/regis.js" ></script>
    

</body>
</html>