.box h1 {
    font-family: 'Poppins', sans-serif;
    margin-left: 130px;
    margin-top: 100px;
}

.email {
    height: 40px;
    width: 400px;
    border-style: none;
    outline: none;
    background-color: #e2e2e2;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    margin-left: 115px;
}

.contra {
    height: 40px;
    width: 400px;
    border-style: none;
    outline: none;
    background-color: #e2e2e2;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    margin-left: 115px;
}

.confir__contra {
    height: 40px;
    width: 400px;
    border-style: none;
    outline: none;
    background-color: #e2e2e2;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    margin-left: 115px;
}

.phone {
    height: 40px;
    width: 400px;
    border-style: none;
    outline: none;
    background-color: #e2e2e2;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    margin-left: 115px;
}

.box input {
    display: flex;
    margin-top: 20px;
}

.btn__regis {
    height: 50px;
    width: 200px;
    font-family: 'Poppins', sans-serif;
    border-radius: 20px;
    border-style: none;
    margin-left: 210px;
    margin-top: 50px;
    background-color: #006effb1;
    color: white;
    transition: all 600ms;
    cursor: pointer;
}

.btn__regis:hover {
    background-color: #006aff;
    color: rgba(0, 0, 0, 0.562);
}

.box .p {
    font-family: 'Josefin Sans', sans-serif;
    margin-left: 190px;
}

.regis {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    color: #505562;
    font-size: 15px;
    display: flex;
    margin-left: 327px;
    margin-top: -35px;
    transition: all 0.3s;
    width: 97px;
}

.regis:hover {
    color: #17181c;
}

.box__rede {
    font-family: 'Poppins', sans-serif;
    display: flex;
    margin-left: 187px;
    margin-top: 130px;
    color: #3333339a;
}

.social__icon:hover {
    border-color: #13469e;
}

.social i:hover {
    color: #13469e;
}

.social i {
    color: #333;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s;
}

.social__icon {
    height: 46px;
    width: 46px;
    border: solid 1px #333;
    margin: 0 0.45rem;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 1.1rem;
    border-radius: 50%;
    transition: 0.3s;
    display: grid;
    margin-left: 186px;
    cursor: pointer;
    margin-top: 30px;
}

.insta {
    margin-left: 60px;
    margin-top: -77px;
}

.twi {
    margin-left: 120px;
    margin-top: -77px;
}

.what {
    margin-left: 180px;
    margin-top: -77px;
}

.box {
    height: 800px;
    width: 550px;
}

.icon__phone i {
    display: flex;
    height: 20px;
    width: 20px;
    margin-left: 80px;
    margin-top: 55px;
}

.icon__phone input {
    margin-top: -35px;
}

.icon__email {
    display: flex;
}

.icon__email i {
    height: 20px;
    width: 20px;
    margin-left: 80px;
    margin-top: 40px;
}

.icon__email input {
    margin-left: 16px;
}

.icon__contra {
    display: flex;
    margin-top: 20px;
}

.icon__contra i {
    height: 20px;
    width: 20px;
    margin-left: 80px;
    margin-top: 35px;
}

.icon__contra input {
    margin-left: 16px;
}

.icon__confir-contra {
    display: flex;
    margin-top: 20px;
}

.icon__confir-contra i {
    height: 20px;
    width: 20px;
    margin-left: 80px;
    margin-top: 35px;
}

.icon__confir-contra input {
    margin-left: 16px;
}

.img__regis {
    height: 300px;
    margin-left: 600px;
    margin-top: -800px;
    display: flex;
}

.img__regis2 {
    height: 300px;
    display: flex;
    margin-left: 750px;
    margin-top: -00px;
}

.forma2 {
    display: flex;
    margin-top: -1000px;
    height: 1200px;
    margin-left: 472px;
    width: 800px;
}

/*modal*/

.modal {
    margin-left: -8px;
    background-color: #5055625d;
    backdrop-filter: blur(-10px);
    top: 0;
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

button#modalBtn {
    padding: 8px 15px;
    background-color: #505562;
    color: #fff;
    font-size: 25px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.modal.active {
    display: block;
}

.modal-content {
    background: #17181c;
    color: #f1f2f4;
    width: 500px;
    height: 250px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0.75em 1em #0b0c0e4d;
    border-radius: 1em;
    margin-left: 370px;
    margin-top: 170px;
}

.modal-content::before {
    background-color: #ff0000;
    border-radius: 50%;
    content: '';
    filter: blur(60px);
    opacity: .15;
    position: absolute;
    top: -8px;
    right: -15em;
    width: 25em;
    height: 25em;
    z-index: 0;
    transition: background-color .3s;
}

.closeIcon {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #abafba;
    cursor: pointer;
    transition: .3s;
    font-size: 20px;
}

.closeIcon:hover {
    color: #c7cad1;
}

.modal-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
}

span.icon {
    margin-top: -20px;
    font-size: 50px;
    color: #ff0000;
}

.right-items {
    margin-left: 30px;
    margin-top: -50px;
}

button#okBtn {
    padding: 8px 15px;
    font-size: 18px;
    background: transparent;
    color: #fff;
    border: 1px solid #ff0000;
    border-radius: 12px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-family: 'Josefin Sans', sans-serif;
    transition: all 1s;
}

button#okBtn:hover {
    background: white;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    border-color: white;
}

.right-items .text_error {
    margin-left: 0px;
    margin-top: 10px;
}

.modal {
    font-family: 'Josefin Sans', sans-serif;
}

.h1__modal {
    display: flex;
    margin-top: 0px;
}


/*modal2*/

.modal2 {
    margin-left: -8px;
    background-color: #5055624b;
    backdrop-filter: blur(-10px);
    top: 0;
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

button#modalBtn2 {
    padding: 8px 15px;
    background-color: #505562;
    color: #fff;
    font-size: 25px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.modal2.active {
    display: block;
}

.modal-content2 {
    background: #17181c;
    color: #f1f2f4;
    width: 500px;
    height: 250px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0.75em 1em #0b0c0e4d;
    border-radius: 1em;
    margin-left: 370px;
    margin-top: 170px;
}

.modal-content2::before {
    background-color: #00ff11;
    border-radius: 50%;
    content: '';
    filter: blur(60px);
    opacity: .15;
    position: absolute;
    top: -8px;
    right: -15em;
    width: 25em;
    height: 25em;
    z-index: 0;
    transition: background-color .3s;
}

.closeIcon2 {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #abafba;
    cursor: pointer;
    transition: .3s;
    font-size: 20px;
}

.closeIcon2:hover {
    color: #c7cad1;
}

.modal-body2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
}

span.icon2 {
    margin-top: -20px;
    font-size: 50px;
    color: #00ff11;
}

.right-items2 {
    margin-left: 30px;
    margin-top: -50px;
}

button#okBtn2 {
    padding: 8px 15px;
    font-size: 18px;
    background: transparent;
    color: #fff;
    border: 1px solid #00ff11;
    border-radius: 12px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-family: 'Josefin Sans', sans-serif;
    transition: all 1s;
}

button#okBtn2:hover {
    background: white;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    border-color: white;
}

.right-items2 .text_error2 {
    margin-left: 0px;
    margin-top: 10px;
}

.modal2 {
    font-family: 'Josefin Sans', sans-serif;
}

.h1__modal2 {
    display: flex;
    margin-top: 0px;
}


/*modal3*/

.modal3 {
    margin-left: -8px;
    background-color: #5055626b;
    backdrop-filter: blur(-10px);
    top: 0;
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

button#modalBtn3 {
    padding: 8px 15px;
    background-color: #505562;
    color: #fff;
    font-size: 25px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.modal3.active {
    display: block;
}

.modal-content3 {
    background: #17181c;
    color: #f1f2f4;
    width: 500px;
    height: 250px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0.75em 1em #0b0c0e4d;
    border-radius: 1em;
    margin-left: 370px;
    margin-top: 170px;
}

.modal-content3::before {
    background-color: #0058fc;
    border-radius: 50%;
    content: '';
    filter: blur(60px);
    opacity: .15;
    position: absolute;
    top: -8px;
    right: -15em;
    width: 25em;
    height: 25em;
    z-index: 0;
    transition: background-color .3s;
}

.closeIcon3 {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #abafba;
    cursor: pointer;
    transition: .3s;
    font-size: 20px;
}

.closeIcon3:hover {
    color: #c7cad1;
}

.modal-body3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
}

span.icon3 {
    margin-top: -20px;
    font-size: 50px;
    color: #0058fc;
}

.right-items3 {
    margin-left: 30px;
    margin-top: -50px;
}

button#okBtn3 {
    padding: 8px 15px;
    font-size: 18px;
    background: transparent;
    color: #fff;
    border: 1px solid #0058fc;
    border-radius: 12px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-family: 'Josefin Sans', sans-serif;
    transition: all 1s;
}

button#okBtn3:hover {
    background: white;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    border-color: white;
}

.right-items3 .text_error3 {
    margin-left: 0px;
    margin-top: 10px;
}

.modal3 {
    font-family: 'Josefin Sans', sans-serif;
}

.h1__modal3 {
    display: flex;
    margin-top: 0px;
}

html::-webkit-scrollbar {
    width: 0px;
    background: #c5c5ff;
}

html::-webkit-scrollbar-thumb {
    background-color: #00002eaa;
    cursor: pointer;
    border-radius: 2px;
}

#back{
    font-size: 30px;
    display: flex;
    margin-top: 30px;
    margin-left: 30px;
    color: #13469e;
    cursor: pointer;
    transition: all 600ms;
}

#back:hover{
    color: #001f53;
}

a{
    text-decoration: none;
}

/*modal5*/

.modal5 {
    margin-left: -9px;
    background-color: #505562;
    backdrop-filter: blur(-10px);
    top: 0;
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

button#modalBtn5 {
    padding: 8px 15px;
    background-color: #505562;
    color: #fff;
    font-size: 25px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.modal5.active {
    display: flex;
}

.modal-content5 {
    background: #17181c;
    color: #f1f2f4;
    width: 500px;
    height: 250px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0.75em 1em #0b0c0e4d;
    border-radius: 1em;
}

.modal-content5::before {
    background-color: #ff0000;
    border-radius: 50%;
    content: '';
    filter: blur(60px);
    opacity: .15;
    position: absolute;
    top: -8px;
    right: -15em;
    width: 25em;
    height: 25em;
    z-index: 0;
    transition: background-color .3s;
}

.closeIcon5 {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #abafba;
    cursor: pointer;
    transition: .3s;
    font-size: 20px;
}

.closeIcon5:hover {
    color: #c7cad1;
}

.modal-body5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
}

span.icon5 {
    margin-top: -20px;
    font-size: 50px;
    color: #ff0000;
}

.right-items5 {
    margin-left: 30px;
    margin-top: -50px;
}

button#okBtn5 {
    padding: 8px 15px;
    font-size: 18px;
    background: transparent;
    color: #fff;
    border: 1px solid #ff0000;
    border-radius: 12px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-family: 'Josefin Sans', sans-serif;
    transition: all 1s;
}

button#okBtn5:hover {
    background: white;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    border-color: white;
}

.right-items5 .text_error5 {
    margin-left: 0px;
    margin-top: 10px;
}

.modal5 {
    font-family: 'Josefin Sans', sans-serif;
}

.h1__modal5 {
    margin-top: 40px;
}

.rol{
    margin-left: 115px;
    margin-top: 40px;
    display: flex;
}

select{
    height: 40px;
    width: 400px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    background-color: #e2e2e2;
    color: gray;
    display: flex;
    margin-left: 16px;
}

.rol i{
    margin-left: -35px;
    margin-top: 10px;
}

.rol{
    margin-left: 115px;
    margin-top: 40px;
    display: flex;
}

select{
    height: 40px;
    width: 400px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    background-color: #e2e2e2;
    color: gray;
    display: flex;
    margin-left: 16px;
}

.rol i{
    margin-left: -35px;
    margin-top: 10px;
}

/*modal6*/

.modal6 {
    margin-left: -9px;
    background-color: #505562a9;
    backdrop-filter: blur(-10px);
    top: 0;
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

button#modalBtn6 {
    padding: 8px 15px;
    background-color: #50556268;
    color: #fff;
    font-size: 25px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.modal6.active {
    display: flex;
}

.modal-content6 {
    background: #17181c;
    color: #f1f2f4;
    width: 500px;
    height: 250px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0.75em 1em #0b0c0e4d;
    border-radius: 1em;
}

.modal-content6::before {
    background-color: #ff0000;
    border-radius: 50%;
    content: '';
    filter: blur(60px);
    opacity: .15;
    position: absolute;
    top: -8px;
    right: -15em;
    width: 25em;
    height: 25em;
    z-index: 0;
    transition: background-color .3s;
}

.closeIcon6 {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #abafba;
    cursor: pointer;
    transition: .3s;
    font-size: 20px;
}

.closeIcon6:hover {
    color: #c7cad1;
}

.modal-body6 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
}

span.icon6 {
    margin-top: -20px;
    font-size: 50px;
    color: #ff0000;
}

.right-items6 {
    margin-left: 30px;
    margin-top: -50px;
}

button#okBtn6 {
    padding: 8px 15px;
    font-size: 18px;
    background: transparent;
    color: #fff;
    border: 1px solid #ff0000;
    border-radius: 12px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-family: 'Josefin Sans', sans-serif;
    transition: all 1s;
}

button#okBtn6:hover {
    background: white;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    border-color: white;
}

.right-items6 .text_error6 {
    margin-left: 0px;
    margin-top: 10px;
}

.modal6 {
    font-family: 'Josefin Sans', sans-serif;
}

.h1__modal6 {
    margin-top: 40px;
}



