t6r<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambio de contraseña</title>
    <link rel="stylesheet" href="st.css">
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');
    </style>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');
    </style>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
    </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
    </style>
    <script src="https://kit.fontawesome.com/460146b1b8.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="shortcut icon" href="/Stronghold/Assets/Logo.svg" type="image/x-icon">
</head>
<body>

    <a href="/Stronghold/Views/login/index.html">
        <i class="fa-sharp fa-solid fa-circle-arrow-left" id="back"></i>
    </a>

    <div class="recuadro">
        <h1>Cambio de contraseña</h1>
        <div class="icon__email">
            <i class="fa-solid fa-user fa-bounce"></i>
            <input type="email" id="cambio" class="email" placeholder="Correo electronico" autocomplete="off">
        </div>
        <button id="envi" class="btn__enviar">Enviar mensaje</button>

        
        <p class="box__r">------ Redes sociales ------</p>

        <div class="social">
            <div class="social__icon">
                <i class="fa-brands fa-facebook-f"></i>
            </div>
            <div class="insta">
                <div class="social__icon">
                    <i class="fa-brands fa-instagram"></i>
                </div>
            </div>
            <div class="twi">
                <div class="social__icon">
                    <i class="fa-brands fa-twitter"></i>
                </div>
            </div>
            <div class="what">
                <div class="social__icon">
                    <i class="fa-brands fa-whatsapp"></i>
                </div>
            </div>
        </div>

        <img src="/Stronghold/Assets/img__pass.svg" alt="" class="img__pass">
        <img src="/Stronghold/Assets/img__pass2.svg" alt="" class="img__pass2">
    </div>

    <div class="modal">
        <div class="modal-content">
            <span class="closeIcon"><i class="fas fa-times"></i></span>
            <div class="modal-body">
            <span class="icon"><i class="fas fa-exclamation-triangle"></i></span>
            <div class="right-items">
                <h1 class="h1__modal">Oooooops !</h1>
                <p class="text_error">Tu correo no esta registrado en Stronghold, vuelve a intentarlo</p>
                <button id="okBtn">Intentalo otra vez</button>
            </div>
            </div>
        </div>
    </div>

    <div class="modal2">
        <div class="modal-content2">
            <span class="closeIcon2"><i class="fas fa-times"></i></span>
            <div class="modal-body2">
            <span class="icon2"><i class="fa-solid fa-circle-info"></i></span>
            <div class="right-items2">
                <h1 class="h1__modal2">Lo sentimos</h1>
                <p class="text_error2">Antes de enviar el correo debes llenar todos los datos</p>
                <button id="okBtn2">Intentalo otra vez</button>
            </div>
            </div>
        </div>
    </div>

    <div class="modal3">
        <div class="modal-content3">
            <span class="closeIcon3"><i class="fas fa-times"></i></span>
            <div class="modal-body3">
            <span class="icon3"><i class="fa-solid fa-circle-info"></i></span>
            <div class="right-items3">
                <h1 class="h1__modal3">Revisa tu email</h1>
                <p class="text_error3">Hemos enviado un mensaje a tu correo electronico, porfavor revisalo para poder cambiar tu contraseña </p>
                <button id="okBtn3">Cerrar</button>
            </div>
            </div>
        </div>
    </div>


    <script type="module" src="/Stronghold/controller/password/cam.js"></script>
    
</body>
</html>